parameters:
    level: 6

    paths:
        - src
        - tests

    # to allow installing with various phsptan versions without reporting old errors here
    reportUnmatchedIgnoredErrors: false

    scanFiles:
        - vendor/autoload.php

    inferPrivatePropertyTypeFromConstructor: true

    parallel:
        processTimeout: 300.0

    ignoreErrors:
        -
            identifier: missingType.generics
        -
            identifier: missingType.iterableValue
